n8n/API Solar.json
{
  "name": "API Solar",
  "nodes": [
    {
      "parameters": {
        "path": "solar-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "da1bc99b-6c4e-453f-a611-54c92404a900",
      "name": "Webhook",
      "webhookId": "65593d92-aa16-435b-8a36-62d464c022db"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iTqe8WKnm0cfsE1B",
          "mode": "list",
          "cachedResultName": "energy_hourly",
          "cachedResultUrl": "/projects/HmXlcweiu5I7NsBE/datatables/iTqe8WKnm0cfsE1B"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "keyValue": "={{ $json.query.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e3cded0f-a599-47c4-b0cd-19f94687e2eb",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "19cb1f0d-2543-41c0-a6e8-df54fe3c923b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35d04cf7-724f-4c87-9caa-27a85c07a904",
  "meta": {
    "instanceId": "2194913e407b1e503ee1051e748fa0b50f28c847d89d91263b2430bdb12da207"
  },
  "id": "j0u1aEGtWlvhPuwf",
  "tags": []
}