n8n/Unified RAG Chat & PDF Generator.json
{
  "name": "Unified RAG Chat & PDF Generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Instruction utilisateur : \" + ($('When Executed by Another Workflow').item.json.chatInput || \"Analyse du document\") + ($json.text ? \"\\n\\nContenu du document joint : \\n\" + $json.text : \"\") }}",
        "options": {
          "systemMessage": "Tu es l'IA de Philippe Gehringer, un assistant spécialisé en coaching professionnel et recrutement.\n\nOBJECTIF :\n1. Répondre aux questions sur le parcours de Philippe en utilisant l'outil 'experience_pro_db'.\n2. Si on te donne une Fiche de Poste (Job Description), analyse la correspondance (Matching) avec le profil de Philippe.\n\nGESTION DES INCOHÉRENCES (IMPORTANT) :\n- Si l'utilisateur joint un document (ex: une offre d'emploi) mais pose une question totalement déconnectée (ex: la météo, une recette, etc.), tu dois :\n  a) Acknowledge le document reçu.\n  b) Informer poliment l'utilisateur que tu es spécialisé dans l'analyse professionnelle.\n  c) Proposer ton aide pour analyser le document joint ou répondre à des questions sur Philippe.\n- Ne réponds PAS à la question hors-sujet (météo, etc.) si un document pro est joint, recentre le débat.\n\nGÉNÉRATION DE CV :\nSi l'utilisateur demande explicitement un CV ou une Lettre, ou si le matching est fort (>80%) et que tu proposes d'en générer un :\n- Rédige un CV complet au format HTML en utilisant TailwindCSS.\n- Mets en avant UNIQUEMENT les expériences pertinentes trouvées dans Qdrant.\n- IMPORTANT : Encadre ton code HTML avec les balises <GENERATE_PDF> et </GENERATE_PDF>.\n\nSinon, réponds simplement en texte."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -112,
        528
      ],
      "id": "26b78a4a-de89-465f-bc0b-e5fdcc7fcb3c",
      "name": "Super Agent (RAG + Writer)"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -336,
        960
      ],
      "id": "ac226ab3-b92e-4ccb-ab53-706a584dfcdd",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "pe1RxUmCYaJzcwAP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "experience_pro_db",
        "description": "Base de connaissance des expériences, missions et compétences de Philippe.",
        "topK": 6
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        128,
        704
      ],
      "id": "16d97c3b-ba7a-45d8-b103-402600f1a1b6",
      "name": "Mémoire Expériences"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "experience_pro",
          "mode": "list",
          "cachedResultName": "experience_pro"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        48,
        960
      ],
      "id": "935f2a41-350e-4060-99ec-2ed797bfee65",
      "name": "Qdrant Store",
      "credentials": {
        "qdrantApi": {
          "id": "OpWDRi0zXXpif8ff",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        48,
        1120
      ],
      "id": "c8f9a5bc-c57f-461e-82d4-18a1fb00ecc9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "0ZeyGNJyzBEkw9MS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Sessionid-1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -128,
        944
      ],
      "id": "b75076a2-bf3a-40dd-8114-363eec205866",
      "name": "Memory"
    },
    {
      "parameters": {
        "jsCode": "// Détection du Trigger : Fichier ou Texte seul ?\nif (items[0].binary && Object.keys(items[0].binary).length > 0) {\n  return [{ json: { has_file: true, ...items[0].json }, binary: items[0].binary }];\n}\nreturn [{ json: { has_file: false, ...items[0].json } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        528
      ],
      "id": "bb131eb0-5f3e-4aaf-b00c-b57f0741388d",
      "name": "Check Input"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_file }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ],
      "id": "5e23a996-2caa-4d3d-876b-3d8c56ba1137",
      "name": "Has File?"
    },
    {
      "parameters": {
        "jsCode": "// Post-Processing : Détection de demande de PDF\nconst text = items[0].json.output;\nconst regex = /<GENERATE_PDF>([\\s\\S]*?)<\\/GENERATE_PDF>/;\nconst match = text.match(regex);\n\nif (match) {\n  const htmlUtils = match[1];\n  // On nettoie le texte pour l'utilisateur (on retire le technique)\n  const cleanText = text.replace(regex, \"(Document PDF généré ci-dessous)\");\n  return [\n    { \n      json: { \n        is_pdf: true, \n        html: htmlUtils, \n        text: cleanText \n      } \n    }\n  ];\n}\n\nreturn [\n  { \n    json: { \n      is_pdf: false, \n      text: text \n    } \n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        528
      ],
      "id": "fe695a72-2cbc-4551-b272-d439a899e408",
      "name": "Detect PDF Request"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_pdf }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        528
      ],
      "id": "3beb02d1-cdd1-4139-a4a6-54aa8eb707a0",
      "name": "Is PDF?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        432
      ],
      "id": "aee13fa2-1323-4d55-9176-b82adaf5d0fa",
      "name": "Gotenberg PDF"
    },
    {
      "parameters": {
        "jsCode": "const htmlContent = items[0].json.html;\nreturn [{\n  binary: {\n    'index.html': {\n      data: Buffer.from(htmlContent).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  },\n  json: items[0].json\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        432
      ],
      "id": "6d1e3c51-ab28-4099-b28c-5b18f60c186d",
      "name": "Prepare Binary"
    },
    {
      "parameters": {
        "fileName": "=/home/node/generated_cv_{{ $now.format('yyyyMMdd_HHmm') }}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1024,
        912
      ],
      "id": "740c287f-9771-4e8a-b465-39fb2fbbeb77",
      "name": "Save to Disk",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        272
      ],
      "id": "17ac95db-e4bd-463d-ba77-49ab6c8b4b97",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        528
      ],
      "id": "1d90a786-918f-423f-8c81-068b822203d9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1a77b31-41ea-4665-82ff-1c5f08d671c7",
              "name": "pdf_generated",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        432
      ],
      "id": "da801289-bbd7-4969-8e98-497f016bcb7f",
      "name": "Prepare Return (PDF)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        500
      ],
      "id": "f123a996-2caa-4d3d-876b-3d8c56ba1137",
      "name": "Final Response",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1a77b31-41ea-4665-82ff-1c5f08d671c8",
              "name": "pdf_generated",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        640
      ],
      "id": "e123a996-2caa-4d3d-876b-3d8c56ba1137",
      "name": "Prepare Return (No PDF)",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Super Agent (RAG + Writer)",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Mémoire Expériences",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mémoire Expériences": {
      "ai_tool": [
        [
          {
            "node": "Super Agent (RAG + Writer)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Mémoire Expériences",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Super Agent (RAG + Writer)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Super Agent (RAG + Writer)": {
      "main": [
        [
          {
            "node": "Detect PDF Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect PDF Request": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Prepare Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Return (No PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Return (PDF)": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Return (No PDF)": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        []
      ]
    },
    "Prepare Binary": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Prepare Return (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File?": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Super Agent (RAG + Writer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Super Agent (RAG + Writer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Input": {
      "main": [
        [
          {
            "node": "Has File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "29dbbf48-2463-41af-a2c1-9fe9719e74ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2194913e407b1e503ee1051e748fa0b50f28c847d89d91263b2430bdb12da207"
  },
  "id": "Yw18E2lgZziMH8uX",
  "tags": []
}