n8n/Workflow A - Historique Quotidien.json
{
  "name": "Workflow A - Historique Quotidien",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "uuid-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        400
      ],
      "typeVersion": 1.2,
      "notes": "⏰ CRON: 23h30 UTC = 00h30 Paris (heure d'hiver UTC+1)\n⚠️ Ajusté car n8n ignore timezone et utilise UTC\n🔄 Passer à 22h30 en été (UTC+2)"
    },
    {
      "parameters": {
        "jsCode": "// Calculer la date J-1 (hier)\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\n// Format ISO (YYYY-MM-DD)\nconst yesterdayDate = yesterday.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    date: yesterdayDate,\n    year: yesterday.getFullYear(),\n    month: yesterday.getMonth() + 1,\n    day: yesterday.getDate()\n  }\n}];"
      },
      "id": "uuid-prep",
      "name": "Préparation Date J-1",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        400
      ],
      "typeVersion": 2,
      "notes": "📅 Calcule la date d'HIER (J-1)\nSortie: {date: 'YYYY-MM-DD', year, month, day}"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "u2Dc3JzuRlYinZZr",
          "cachedResultName": "[SUB] APsystems - Données Quotidiennes"
        },
        "options": {}
      },
      "id": "uuid-call-aps",
      "name": "Appel SUB APsystems J-1",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        688,
        400
      ],
      "typeVersion": 1.1,
      "notes": "🔌 Appelle SUB APsystems avec date J-1\nRécupère production/consommation réelles du jour précédent"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iTqe8WKnm0cfsE1B",
          "mode": "list",
          "cachedResultName": "energy_hourly",
          "cachedResultUrl": "/projects/HmXlcweiu5I7NsBE/datatables/iTqe8WKnm0cfsE1B"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "keyValue": "={{ $('Préparation Date J-1').item.json.date }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "uuid-read-dt",
      "name": "Lecture Data Table J-1",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        912,
        400
      ],
      "typeVersion": 1,
      "notes": "📖 Lit TOUTES les entrées horaires de J-1 dans Data Table\n⚠️ Contient ~24 lignes (une par heure) avec forecast_day_kwh variable"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les données APsystems J-1\nconst apsData = $('Appel SUB APsystems J-1').first().json;\n\n// Récupérer les données de prévision depuis la Data Table\nlet dataTableRows = $('Lecture Data Table J-1').all();\n\nif (!apsData || !apsData.today) {\n  throw new Error('Données APsystems manquantes');\n}\n\nif (dataTableRows.length === 0) {\n  throw new Error('Aucune prévision trouvée dans la Data Table energy_hour pour J-1');\n}\n\n// TRIER les lignes par heure (croissant) pour être sûr d'avoir le début de journée\ndataTableRows.sort((a, b) => {\n  const hA = a.json.hour || 0;\n  const hB = b.json.hour || 0;\n  return hA - hB;\n});\n\n// Production réelle du jour\nconst realProduction = apsData.today.produced;\n\n// ✅ CORRECTION: Prendre la PREMIÈRE prévision du jour (ex: 06h), pas la dernière\n// On cherche la première ligne qui a une prévision > 0 (pour éviter les 0 de la nuit si jamais)\nlet forecastRow = dataTableRows.find(row => (row.json.forecast_day_kwh || 0) > 0);\n\n// Fallback sur la première ligne si tout est à 0\nif (!forecastRow) {\n  forecastRow = dataTableRows[0];\n}\n\nconst forecastProduction = forecastRow.json.forecast_day_kwh || 0;\n\n// Pour information: nombre de prévisions disponibles\nconst forecastCount = dataTableRows.length;\n\n// Calculer les écarts\nconst ecartKwh = realProduction - forecastProduction;\nconst ecartPct = forecastProduction > 0 \n  ? parseFloat(((ecartKwh / forecastProduction) * 100).toFixed(2))\n  : 0;\n\n// Préparer les données pour Google Sheets\nconst result = {\n  date: apsData.date,\n  production_reelle_kwh: parseFloat(realProduction.toFixed(2)),\n  prevision_kwh: parseFloat(forecastProduction.toFixed(2)),\n  ecart_kwh: parseFloat(ecartKwh.toFixed(2)),\n  ecart_pct: ecartPct,\n  consommation_kwh: parseFloat(apsData.today.consumed.toFixed(2)),\n  importe_kwh: parseFloat(apsData.today.imported.toFixed(2)),\n  exporte_kwh: parseFloat(apsData.today.exported.toFixed(2)),\n  autoconsommation_pct: apsData.today.autoconsumption || 0,\n  autosuffisance_pct: apsData.today.autosufficiency || 0,\n  \n  // Métadonnées pour debug\n  nb_previsions_dispo: forecastCount,\n  heure_prevision_utilisee: forecastRow.json.hour || 'N/A'\n};\n\nreturn [{ json: result }];"
      },
      "id": "uuid-calc",
      "name": "Calcul Écarts et Moyennes",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        400
      ],
      "typeVersion": 2,
      "notes": "🧮 Compare production réelle vs prévision J-1\n🐛 BUG: Prend DERNIÈRE prévision (23h) au lieu de PREMIÈRE (01h)\n✅ À CORRIGER: Utiliser dataTableRows[0] (première prévision du jour)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MHFGECBWHFgl0VNcXwIdnTyx9-OoWmHrHdglP7LurJ0",
          "mode": "list",
          "cachedResultName": "APsystems - Historique Quotidien",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MHFGECBWHFgl0VNcXwIdnTyx9-OoWmHrHdglP7LurJ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Feuille 1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Production Réelle (kWh)": "={{ $json.production_reelle_kwh }}",
            "Prévision (kWh)": "={{ $json.prevision_kwh }}",
            "Écart (kWh)": "={{ $json.ecart_kwh }}",
            "Écart (%)": "={{ $json.ecart_pct }}",
            "Consommation (kWh)": "={{ $json.consommation_kwh }}",
            "Importé (kWh)": "={{ $json.importe_kwh }}",
            "Exporté (kWh)": "={{ $json.exporte_kwh }}",
            "Autoconsommation (%)": "={{ $json.autoconsommation_pct }}",
            "Autosuffisance (%)": "={{ $json.autosuffisance_pct }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Production Réelle (kWh)",
              "displayName": "Production Réelle (kWh)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prévision (kWh)",
              "displayName": "Prévision (kWh)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Écart (kWh)",
              "displayName": "Écart (kWh)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Écart (%)",
              "displayName": "Écart (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consommation (kWh)",
              "displayName": "Consommation (kWh)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Importé (kWh)",
              "displayName": "Importé (kWh)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Exporté (kWh)",
              "displayName": "Exporté (kWh)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Autoconsommation (%)",
              "displayName": "Autoconsommation (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Autosuffisance (%)",
              "displayName": "Autosuffisance (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "uuid-append",
      "name": "Ajouter ligne dans Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1344,
        400
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mmpUz0PUHBtYApVA",
          "name": "Google Sheets account"
        }
      },
      "notes": "📊 Enregistre les résultats dans Google Sheets\nFeuille: Historique quotidien production/prévision"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Préparation Date J-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparation Date J-1": {
      "main": [
        [
          {
            "node": "Appel SUB APsystems J-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel SUB APsystems J-1": {
      "main": [
        [
          {
            "node": "Lecture Data Table J-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lecture Data Table J-1": {
      "main": [
        [
          {
            "node": "Calcul Écarts et Moyennes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcul Écarts et Moyennes": {
      "main": [
        [
          {
            "node": "Ajouter ligne dans Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "Europe/Paris"
  },
  "versionId": "d401e3b1-b33f-48e6-99e7-678af1e34362",
  "meta": {
    "instanceId": "2194913e407b1e503ee1051e748fa0b50f28c847d89d91263b2430bdb12da207"
  },
  "id": "9V02WzToapyCQzhz",
  "tags": []
}